div{     height:50px;
         width:50px;
         background-color: #777777;}
      
button{  width:75px;
         height:22px;}
      
 .red{   background-color: #dd0000;}
 
 .blue{  background-color: #0000dd;}